@model Orcamento.Robo.Web.Models.Carga.CargasModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cargas</h2>

<!--  modal -->
<div id="detalheCarga" class="table table-striped table-bordered"></div>

<section style="display:none" id="accordions">
    <h3>Filtros</h3>


    <div class="panel-group accordion">
        <div class="panel panel-default open">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapseOne">Campos de busca de carga
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse in" style="height: auto;">
                <div class="panel-body">
                    <fieldset>
                        <div class="form-group">
                            <label for="name" class="col-lg-4">Nome do arquivo:</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" name="name" id="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="validateSelect" class="col-lg-4">Status da carga:</label>
                            <div class="col-lg-8">
                                <select id="statusSelect" name="validateSelect" class="form-control">
                                    <option value="">Todos</option>
                                    <option value="1">Finalizada</option>
                                    <option value="2">Erro de processo</option>
                                    <option value="3">Criada</option>
                                    <option value="4">Em processamento</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="validateSelect" class="col-lg-4">Carga:</label>
                            <div class="col-lg-8">
                                <select id="cargasSelect" name="validateSelect" class="form-control">
                                    <option value="">Todas</option>
                                    <option value="1">Funcionarios</option>
                                    <option value="2">ErroDeProcesso</option>
                                    <option value="3">Criada</option>
                                    <option value="4">EmProcessamento</option>
                                </select>
                            </div>
                        </div>
                        @* <div class="form-group">

                            <label class="col-lg-4">Checkboxes</label>

                            <div class="col-lg-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="validateCheckbox" value="1">
                                        Option one is this and that—be sure to include why it's great
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="validateCheckbox" value="2">
                                        Option one is this and that—be sure to include why it's great
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="validateCheckbox" value="3">
                                        Option one is this and that—be sure to include why it's great
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- /.form-group -->*@


                        <br />

                        <div class="form-group">
                            <div class="col-lg-4"></div>

                            <div class="col-lg-8">
                                <button type="submit" class="btn btn-success"><i class="icon-ok"></i>Filtrar</button>&nbsp;&nbsp;
						      <button type="reset" class="btn btn-default">Limpar filtros</button>
                            </div>
                        </div>
                    </fieldset>

                </div>
            </div>
        </div>
    </div>

</section>

@Html.Partial("_Cargas", Model)


<script type="text/javascript" src="../../Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="../../Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="../../Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="../../js/plugins/jquery.timer.js"></script>

<script type="text/javascript">
    
    SetTimer();

    function SetTimer() {
        var timer = $.timer(function () {

            $.ajax({
                url: "http://localhost:52485/Carga/Cargas",
                type: "GET",
                cache: false,
                success: function (resultado) {
                    $("#divCargas").replaceWith(resultado);
                }
            });

        });

        timer.set({ time: 15000, autostart: true });
    }

    //CriarDate();
    //function CriarDate() {

    //    /*--------------------------------------------------
    //    Plugin: Date Picker
    //    --------------------------------------------------*/

    //    $("#datepicker-inline").datepicker();

    //    $("#datepicker-multi").datepicker({
    //        numberOfMonths: 2,
    //        showButtonPanel: true
    //    });


    //    /*--------------------------------------------------
    //    Plugin: Slider
    //    --------------------------------------------------*/

    //    /* Increment Slider */
    //    $("#incrementSlider").slider({
    //        range: "min",
    //        value: 150,
    //        min: 0,
    //        max: 500,
    //        step: 50,
    //        slide: function (event, ui) {
    //            $("#incrementAmount").text("$" + ui.value);
    //        }
    //    });

    //    $("#incrementAmount").text("$" + $("#incrementSlider").slider("value"));


    //    /* Min Value Slider */
    //    $("#rangeMinSlider").slider({
    //        range: "min",
    //        value: 100,
    //        min: 50,
    //        max: 700,
    //        slide: function (event, ui) {
    //            $("#rangeMinAmount").text("$" + ui.value);
    //        }
    //    });

    //    $("#rangeMinAmount").text("$" + $("#rangeMinSlider").slider("value"));


    //    /* Default Slider */
    //    $("#defaultSlider").slider({ value: 65, range: 'min' });


    //    /* Vertical Slider */
    //    $("#eq > span").each(function () {
    //        var value = parseInt($(this).text());
    //        $(this).empty().slider({
    //            value: value,
    //            range: "min",
    //            animate: true,
    //            orientation: "vertical"
    //        });
    //    });


    //    /* Horizontal Slider */
    //    $("#rangeSlider").slider({
    //        range: true,
    //        min: 0,
    //        max: 500,
    //        values: [75, 250],
    //        slide: function (event, ui) {
    //            $("#amount").text("$" + ui.values[0] + " - $" + ui.values[1]);
    //        }
    //    });

    //    $("#amount").text("$" + $("#rangeSlider").slider("values", 0) +
    //        " - $" + $("#rangeSlider").slider("values", 1));


    //}


    function DetalhesCarga(id) {

        initializeDialog($("#detalheCarga"), id);

        $("#detalheCarga").dialog("open");

    };

    //Method to Initialize the DialogBox
    function initializeDialog($element, id) {

        $element.dialog({
            autoOpen: false,
            width: 800,
            resizable: true,
            draggable: true,
            title: "Detalhe da importação",
            model: true,
            show: 'slide',
            closeText: 'x',
            closeOnEscape: true,
            open: function () {
                $element.load('/Carga/Details/' + id);
            },
            close: function () {
                $(this).dialog('close');
            }
        });
    };

</script>
