@model Orcamento.Robo.Web.Models.Configuracoes.Configuracao


<h2>Detalhe</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Linha do arquivo</th>
            <th>Nome do arquivo</th>
            <th>Descrição</th>

    </thead>
    <tbody>
        <tr>
            <td>@detalhe.Linha</td>
            <td>@detalhe.Nome </td>
            <td>@detalhe.Descricao</td>
        </tr>

    </tbody>
</table>
