@model Orcamento.Robo.Web.Models.Configuracoes.ConfiguracaoModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Configurações Gerais</h2>

<div class="col-md-12">
    <div class="widget stacked">
        <div class="widget-header">
            <i class="icon-ok"></i>
            <h3>Configurar estrutura orçamentaria</h3>
        </div>
        <!-- /widget-header -->
        <div class="widget-content">

            <div role="form" class="form-horizontal col-md-7" >
                <div class="alert alert-warning">

                    <p>
                        <strong>Apagar toda a estrutura orçamentaria: </strong>
                        &nbsp;&nbsp;
                        <a href="javascript:;" onclick="DeletarEstrutura();" class="btn btn-danger">Apagar</a>
                    </p>

                </div>
            </div>

        </div>
        <!-- /widget-content -->

    </div>
    
    @Html.Partial("_Processos",Model)
    <!-- /widget -->

</div>
<script src="../../js/Paginas/Configuracoes/Configuracoes.js"></script>
<script src="../../js/demo/../plugins/msgbox/jquery.msgbox.min.js"></script>
<script src="../../js/plugins/msgGrowl/js/msgGrowl.min.js"></script>
<script src="../../js/plugins/jquery.timer.js"></script>


<script type="text/javascript">
    SetTimer();

    function SetTimer() {
        var timer = $.timer(function () {
            
            $.ajax({
                url:"http://localhost:52485/Configuracoes/Processos", 
                type: "GET",
                cache: false,
                success: function (resultado) {
                    $("#DivProcessos").replaceWith(resultado);
                }
            });
            
        });

        timer.set({ time: 3000, autostart: true });
    }
    </script>