@model Orcamento.Robo.Web.Models.Importar.DetalhesDaImportacaoModel

<div id="Principal">
    @if (Model.ImportacaoOk)
    {
        <label>Importacao Realizada com Sucesso.</label>
    }
    else
    {
        <label>Importacao nao foi realizada, por favor verifique os erros.</label>
    }
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Linha do Excel</th>
                <th>Tipo detalhe</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ExibeDetalhes)
            {
                foreach (var detalhe in Model.Detalhes)
                {
                <tr>
                    <td>@detalhe.Nome</td>
                    <td>@detalhe.Descricao</td>
                    <td>@detalhe.Linha</td>
                    <td>@detalhe.Tipo</td>
                </tr>
                }
            }
            else
            {
                <tr>
                    <td>Sem resuldatos</td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>
