<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <!--<log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender,log4net">
      <param name="File" value="AppLogs\\LogsAppp.log"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <root>
      <priority value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <category name="my.category">
      <priority value="DEBUG"/>S
    </category>
  </log4net>-->
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="10000" />
    <!--TESTE-->
    <!-- <add key="Conexao" value="Data Source=10.250.0.94;Initial Catalog=orcamento2016;User Id=OrcamentoWorkker;Password=@A1b2c3d4" />-->
    <!-- <add key="Conexao" value="Data Source=NASARAWA\SQLEXPRESSv2;Initial Catalog=Orcamento_2015;Integrated security=true;" /> -->
    <!--<add key="Conexao" value="Data Source=10.250.0.94;Initial Catalog=orcamento2015;User Id=OrcamentoWorkker;Password=@A1b2c3d4"/>-->
    <!--<add key="Conexao" value="Data Source=WORKKER01-PC\WORKKER01;Initial Catalog=OrcamentoIsaac;User Id=sa;Password=123456"/>-->
    <add key="Conexao" value="Data Source=PSV\SQLEXPRESS;Initial Catalog=Orcamentov4;Integrated security=true;"  />
    <!--<add key="Conexao" value="Data Source=.;Initial Catalog=OrcamentoAnderson;User ID=sa;Password=1234"/>-->
    <!--<add key="Conexao" value="Data Source=10.250.0.94;Initial Catalog=OrcamentoProdTest;User Id=OrcamentoWorkker;Password=@A1b2c3d4"/>-->
    <!--<add key="Conexao" value="Data Source=208.109.110.117; Initial Catalog=TelemetriaHomolog; User Id=sa; Password=Semprealine1" />-->
    <!--<add key="Conexao" value="Data Source=localhost;Initial Catalog=OrcamentoProd;Integrated security=true;"/>-->
    <!--<add key="Conexao" value="Data Source=10.250.0.124;Initial Catalog=Orcamento;User Id=OrcamentoWorkker;Password=@A1b2c3d4"/>-->
    <!--<add key="Conexao" value="Data Source=WKK-SRV\WKKSRV;Initial Catalog=OrcamentoHomolog;User Id=sa;Password=123456"/>-->
    <!--<add key="Conexao" value="Data Source=WKK-SRV\WKKSRV;Initial Catalog=OrcamentoSammuel;User Id=sa;Password=123456"/>-->
    <!--<add key="Conexao" value="Data Source=.\SQLEXPRESS;Initial Catalog=OrcamentoLocal;User Id=sa;Password=123456"  />-->
    <!--<add key="Conexao" value="Data Source=WKK-SRV\WKKSRV;Initial Catalog=Cru;User Id=sa;Password=123456"/>-->
    <!--<add key="Conexao" value="Data Source=(local);Initial Catalog=Orcamento;User Id=OrcamentoWorkker;Password=@A1b2c3d4"/>-->
    <!--PRODUÇÃO-->
    <!--<add key="Conexao" value="Data Source=WKK-SRV\WKKSRV;Initial Catalog=OrcamentoHomolog;User Id=sa;Password=123456"/>-->
    <add key="connapl" value="RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0AVwBLAEsALQBTAFIAVgBcAFcASwBLAFMAUgBWADsASQBuAGkAdABpAGEAbAAgAEMAYQB0AGEAbABvAGcAPQBPAHIAYwBhAG0AZQBuAHQAbwBSAGUAZABlAEQAbwByADsAVQBzAGUAcgAgAEkARAA9AHMAYQA7AFAAYQBzAHMAdwBvAHIAZAA9ADEAMgAzADQANQA2ADsAUAByAG8AdgBpAGQAZQByAD0AUwBRAEwATwBMAEUARABCADsA" />
    <!-- tpBanco = 1-> Oracle 2-> Informix 3-> SqlServer-->
    <add key="apl_tpBanco" value="3" />
    <add key="his_tpBanco" value="2" />
    <add key="ad_ip" value="172.20.0.172" />
    <add key="origem" value="integrador@rededor.com.br" />
    <add key="destino1" value="mneves@rededor.com.br" />
    <add key="destino2" value="rmedeiros@rededor.com.br" />
    <add key="host" value="200.222.41.197" />
    <!-- <add key="port" value="25"/> -->
    <add key="userName" value="integrador@rededor.com.br" />
    <add key="password" value="rededor" />
  </appSettings>
  <connectionStrings>
    <add name="conectaSQL" connectionString="RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0AVwBLAEsALQBTAFIAVgBcAFcASwBLAFMAUgBWADsAIABJAG4AaQB0AGkAYQBsACAAQwBhAHQAYQBsAG8AZwA9AE8AcgBjAGEAbQBlAG4AdABvADsAIABVAHMAZQByACAASQBkAD0AcwBhADsAIABQAGEAcwBzAHcAbwByAGQAPQAxADIAMwA0ADUANgA=" />
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpModules>
      <add name="NHibernateSessionPerRequest" type="Orcamento.Domain.DB.Repositorio.NHibernateSessionPerRequest" />
    </httpModules>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <sessionState timeout="1440" />
    <authentication mode="Windows" />
    <customErrors defaultRedirect="./Erro.aspx" mode="RemoteOnly" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
  </system.web>
  <log4net>
    <appender name="MainFileLogger.Appender" type="log4net.Appender.RollingFileAppender">
      <file value="AppLogs\\LogsAppp.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date %property{UserName} [%thread] %-5level  %logger - %message%newline" />
      </layout>
    </appender>
    <!--<appender name="NHibernate.Appender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Transferencia\Logs\eSim.Cobranca.NHibernate.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date %property{UserName} [%thread] %-5level  %logger - %message%newline" />
      </layout>
    </appender>-->
    <!--Loggers-->
    <logger name="MainFileLogger">
      <level value="ALL" />
      <priority value="ALL" />
      <appender-ref ref="MainFileLogger.Appender" />
    </logger>
    <!--<logger name="NHibernate.SQL">
      <level value="ALL" />
      <priority value="ALL" />
      <appender-ref ref="NHibernate.Appender" />
    </logger>-->
  </log4net>
  <system.webServer>
    <modules>
      <add name="NHibernateSessionPerRequest" type="Orcamento.Domain.DB.Repositorio.NHibernateSessionPerRequest" />
    </modules>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.1.0" newVersion="2.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.4000" newVersion="3.1.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>