.override-Login {
    background: url(/imagens/login.png);
    background-repeat: no-repeat;
    height: 140px;
    margin-top: 70px;
    padding: 10px 10px;
    width: 230px;
}

.override-AlterarSenha {
    height: 140px;
    margin-top: 70px;
    padding: 10px 10px;
    width: 230px;
}
.selecao-de-unidades {
    background: url(/imagens/selecao_de_unidade.png);
    background-repeat: no-repeat;
    height: 140px;
    margin-top: 70px;
    padding: 10px 10px;
    width: 230px;
}

.override-LoginSubmit {
    margin-left: 0px !important;
    padding: 1px 1px 1px 1px !important;
    width: 40%;
}

.override-AlterarSenhaSubmit {
    margin-left: 0px !important;
    padding: 1px 1px 1px 1px !important;
    width: 50%;
}

.override-grid-12-12 {
    height: 32px;
    text-align: left;
}

#center {
    height: 100%;
    width: 100%;
}

.sonumero { }
.bold {
    text-decoration: solid;
}
.homeButton {
    font-size: 16px;
}
.close{}
.logoutButton {
    width: 55px;
    height: 25px;
    text-align: center;
    font-size: 9px;
}
#footer
        {
            background: #FFFFFF none repeat scroll 0 0;
            bottom: 0;
            display: block;
            left: 27.5%;
            position: fixed;
            text-align: center;
            width: 65.6%;
            z-index: 999;
           border: 1px solid #F0F0F0;
        }
        .ruleLogin {
            width: 90%;
        }